* {
  box-sizing: border-box;
  margin: 0;
}
.photo {
  width: 72px;
  height: 72px;
  top: 354.27px;
  left: 577.31px;
  border-radius: 8px;
}
.card {
  width: 845.91px;
  height: 580.54px;
  margin: 50px auto;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
}
header {
  width: 845.91px;
  text-align: center;
  margin: 0 auto;

}
.line {
  border: solid 1px #e0e0e0;
}
.li {
  display: flex;
  margin-bottom: 30px;
}
span {
  margin-left: 30%;
  color: #333;
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.63px;
}

h3 {
  margin-left: 40px;
  color: #bdbdbd;
  font-family: Noto Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.455px;
}
.p1 {
  color: #000;
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.63px;
}
.p2 {
    margin-top: -30px;
  color: #828282;
  font-family: Noto Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.455px;
}

h4 {
    margin-top: 30px;
  color: #000;
  font-family: Noto Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.84px;
}

h1 {
    padding-top: 20px;
  color: #000;
  font-family: Noto Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.26px;
}
.li2 {
display: flex;
justify-content: space-between;
}
.btn {
    margin-top: 30px;
width: 95.343px;
height: 38px;
flex-shrink: 0;
border-radius: 12px;
border: 1px solid #828282;
}
.card-body {
text-decoration: nono;
font-family: Noto Sans;
font-size: 20px;
}