
.selector-for-some-widget {
  box-sizing: content-box;
}

.card {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 2rem 0;
}
.card-body {
  margin: 0 30%;
  width: 475px;
  height: 635px;
  border-radius: 24px;
  border: 1px solid #bdbdbd;
}

.card-in {
  margin: 30px auto;
  width: 400px;
  height: 500px;
}
.icon {
  margin: 0 10px;
  /* width: 42px;
  height: 42px;
  color: #828282;
  flex-shrink: 0; */
}
.lastline {
  width: 473.831px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30%;
  color: #828282;
  font-family: Noto Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.49px;
}

.btn {
  width: 100%;
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.035em;
  text-align: center;
  width: 100%;
  margin: 30px 0;
}
.icon2 {
  margin-left: 70px;
}
.p {
  text-align: center;
  color: #828282;
  font-family: Noto Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.49px;
}

.card-title {
  margin: 30px 50px 30px 0;
  color: #333;
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.63px;
}
